In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.callbacks import LearningRateScheduler
import math

In [6]:
df = pd.read_csv("../DataSets/bitcoin_technical_1.csv")
df

,date,open,high,low,close,volume,RSI,RS,MACD,MACD_signal,MACD_histogram,BB_Upper,BB_Mid,BB_Low
0,4/16/2022,40552.31641,40633.67969,40078.42578,40424.48438,1.683315e+10,0.000000,0.000000,-2.893792,-1.607662,-1.286130,40671.380526,40488.974610,40306.568694
1,4/17/2022,40417.77734,40570.72656,39620.89453,39716.95313,1.908763e+10,0.000000,0.000000,-25.627768,-11.451968,-14.175800,41132.370212,40231.634117,39330.898021
2,4/18/2022,39721.20313,40986.32031,38696.19141,40826.21484,3.370518e+10,62.023953,1.633239,4.709918,-5.977074,10.686992,41326.011771,40380.279298,39434.546824
3,4/19/2022,40828.17578,41672.96094,40618.63281,41502.75000,2.530321e+10,73.880569,2.828567,48.016698,10.084852,37.931846,41900.443078,40604.773438,39309.103798
4,4/20/2022,41501.74609,42126.30078,40961.09766,41374.37891,2.781953e+10,68.976988,2.223414,67.658168,25.690422,41.967746,42051.323830,40733.041017,39414.758204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,4/9/2023,27952.36719,28532.83008,27828.48047,28333.05078,1.217532e+10,62.235210,1.647969,776.835651,944.457500,-167.621849,28767.772139,27953.277052,27138.781965
359,4/10/2023,28336.02734,29771.46484,28189.27148,29652.98047,1.928240e+10,80.943685,4.247604,853.652310,926.296462,-72.644152,29139.886982,28027.135255,26914.383528
360,4/11/2023,29653.67969,30509.08398,29609.30078,30235.05859,2.012126e+10,84.901798,5.623305,950.541653,931.145500,19.396153,29610.614282,28173.516310,26736.418337
361,4/12/2023,30231.58203,30462.48047,29725.57422,30139.05273,1.865193e+10,81.549310,4.419851,1007.961136,946.508628,61.452509,29948.663672,28263.770313,26578.876954
362,4/13/2023,29892.74023,30539.84570,29878.62305,30399.06641,1.748772e+10,83.647797,5.115384,1062.203006,969.647503,92.555503,30302.442622,28409.059376,26515.676129

In [13]:
df['price'] = df['close'].shift(-1)

In [14]:
df

,date,open,high,low,close,volume,RSI,RS,MACD,MACD_signal,MACD_histogram,BB_Upper,BB_Mid,BB_Low,price
0,4/16/2022,40552.31641,40633.67969,40078.42578,40424.48438,1.683315e+10,0.000000,0.000000,-2.893792,-1.607662,-1.286130,40671.380526,40488.974610,40306.568694,39716.95313
1,4/17/2022,40417.77734,40570.72656,39620.89453,39716.95313,1.908763e+10,0.000000,0.000000,-25.627768,-11.451968,-14.175800,41132.370212,40231.634117,39330.898021,40826.21484
2,4/18/2022,39721.20313,40986.32031,38696.19141,40826.21484,3.370518e+10,62.023953,1.633239,4.709918,-5.977074,10.686992,41326.011771,40380.279298,39434.546824,41502.75000
3,4/19/2022,40828.17578,41672.96094,40618.63281,41502.75000,2.530321e+10,73.880569,2.828567,48.016698,10.084852,37.931846,41900.443078,40604.773438,39309.103798,41374.37891
4,4/20/2022,41501.74609,42126.30078,40961.09766,41374.37891,2.781953e+10,68.976988,2.223414,67.658168,25.690422,41.967746,42051.323830,40733.041017,39414.758204,40527.36328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,4/9/2023,27952.36719,28532.83008,27828.48047,28333.05078,1.217532e+10,62.235210,1.647969,776.835651,944.457500,-167.621849,28767.772139,27953.277052,27138.781965,29652.98047
359,4/10/2023,28336.02734,29771.46484,28189.27148,29652.98047,1.928240e+10,80.943685,4.247604,853.652310,926.296462,-72.644152,29139.886982,28027.135255,26914.383528,30235.05859
360,4/11/2023,29653.67969,30509.08398,29609.30078,30235.05859,2.012126e+10,84.901798,5.623305,950.541653,931.145500,19.396153,29610.614282,28173.516310,26736.418337,30139.05273
361,4/12/2023,30231.58203,30462.48047,29725.57422,30139.05273,1.865193e+10,81.549310,4.419851,1007.961136,946.508628,61.452509,29948.663672,28263.770313,26578.876954,30399.06641
362,4/13/2023,29892.74023,30539.84570,29878.62305,30399.06641,1.748772e+10,83.647797,5.115384,1062.203006,969.647503,92.555503,30302.442622,28409.059376,26515.676129,NaN

In [17]:
df = df.dropna()

In [19]:
def lstm_split(data, n_steps):
    X, y = [], []
    for i in range(len(data) - n_steps + 1):
        X.append (data[i:i + n_steps, : - 1])
        y.append(data[i + n_steps - 1, - 1])
    return np.array(X), np.array(y)

In [20]:
x1, y1 = lstm_split(df.values, n_steps=50)

In [21]:
x1.shape

(313, 50, 14)

In [22]:
y1.shape

(313,)

In [ ]:
scaler = StandardScaler()